@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1d4ed8;
  --secondary-color: #f59e0b;
  --accent-color: #10b981;
  --background-color: #f3f4f6;
}

/* Agora você pode usar essas variáveis no seu CSS */
body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

body {
  background-color: #2f8537;
  color: #fff;
}
